.container-principal__black {
  display: flex;
  flex-direction: row;
  width: 100;
  height: 35rem;
  background-color: #0e1111;
}

.container-principal__black .container-secundar1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-size: 2rem;
}

.container-principal__black .container-secundar2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #0e1111;
  font-size: 2rem;
  background-color: #ffef00;
}

.container-principal__black .container-secundar2 button {
  border: none;
  background-color: #0e1111;
  color: #f3f3f3;
  height: 5rem;
  width: fit-content;
  border-radius: 10px;
  transition: ease-out 1.2s;
  font-size: 20px;
  outline: none;
  box-shadow: 0px 0px 10px -3px #19193d;
}

.container-principal__black .container-secundar1 button {
  border: none;
  background-color: #f3f3f3;
  color: #0e1111;
  height: 5rem;
  width: fit-content;
  border-radius: 10px;
  transition: ease-out 1.2s;
  font-size: 20px;
  outline: none;
  box-shadow: 0px 0px 10px -3px #19193d;
}

.container-principal__black .container-secundar1 button:hover {
  background-color: #ffef00;
}

.container-principal__black .container-secundar2 button:hover {
  color: #0e1111;
  background-color: #f3f3f3;
}

.container-principal__white {
  display: flex;
  flex-direction: row;
  width: 100;
  height: 35rem;
  background-color: #f3f3f3;
}

.container-principal__white .container-secundar1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #0e1111;
  font-size: 2rem;
  text-align: center;
}

.container-principal__white .container-secundar1 h4 {
  margin: 0;
}

.container-principal__white .container-secundar2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #ffef00;
  font-size: 2rem;
  background-color: #0e1111;
}

.abonament-pret {
  background-color: #0e1111;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  border-radius: 20px;
  color: #f3f3f3;
}

a {
  text-decoration: none;
}

/* Tarife */

.tarife-main {
  font-size: 8vw;
  margin-top: 6rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  margin: 2rem auto;
  height: 15%;
  gap: 4px;
}

.text-in-box-column {
  background-color: #ffef00;
  color: #0e1111;
  font-size: 2.5vw;
}

.text-in-box-under-column {
  color: #f3f3f3;
  font-size: 2vw;
  border-bottom: 2px solid #f3f3f3;
}

.grid-wrapper-sedinta {
  display: grid;
  grid-template-columns: 85% 15%;
  margin: 2rem auto;
  height: 15%;
  gap: 4px;
}

.text-in-box-column-sedinta {
  background-color: #ff0505;
  color: #0e1111;
  font-size: 2.5vw;
}

.preturi-promotionale {
  font-size: 4.5vw;
  color: #ffef00;
}

.grid-wrapper-oferta {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin: 2rem auto;
  height: 15%;
  gap: 4px;
}

/* Personal trainer page */

.container-pt-photo {
  background: url("../media/personal-trainer.jpg") no-repeat center center/cover;
  width: 100%;
  height: 35rem;
  position: relative;
}

.container-pt-photo::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.container-pt-photo * {
  z-index: 0;
}

.container-pt-photo .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}
.container-pt-photo .content h1 {
  font-size: 5rem;
}
.container-pt-photo .content p {
  font-size: 2rem;
  margin: 20px 0 30px;
}

.container-galben {
  display: flex;
  flex-direction: row;
  background-color: #ffef00;
  width: 100%;
  height: 35rem;
}

.container-galben .container-secundar1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #0e1111;
  font-size: 2rem;
  height: 100%;
}

.container-galben .container-secundar2 {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-galben .container-secundar2 img {
  height: 70%;
}

.container-principal__black .container-secundar__white {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
}

.container-principal__black .container-secundar__white h1 {
  font-size: 10vh;
}

.container-principal__black .container-secundar__white p {
  font-size: 4vh;
}

.container-principal__black .container-secundar1 img {
  height: 80%;
}

@media (max-width: 768px) {
  .container-galben {
    flex-direction: column;
  }

  .container-galben .container-secundar1 {
    width: 100%;
  }

  .container-galben .container-secundar2 {
    display: none;
  }

  .container-principal__black {
    flex-direction: column;
  }

  .container-principal__black .container-secundar1 {
    display: none;
  }

  .container-principal__black .container-secundar__white {
    width: 100%;
  }

  .container-principal__white .container-secundar2 {
    display: none;
  }

  .container-principal__white .container-secundar1 {
    width: 100%;
  }

  .container-principal__black .container-secundar2 {
    width: 100%;
  }
}

/* Activitati */

.container-activitati-photo {
  background: url("../media/cycling-class.jpg") no-repeat center center/cover;
  width: 100%;
  height: 55rem;
  position: relative;
}

.container-activitati-photo::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.container-activitati-photo * {
  z-index: 0;
}

.container-activitati-photo .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}
.container-activitati-photo .content h1 {
  font-size: 5rem;
}

.grid-wrapper-activitati {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin: 2rem auto;
  width: 80%;
  height: 50%;
  gap: 4px;
}

.element {
  background-color: #ffef00;
  color: #0e1111;
  font-size: 5vw;
}
