body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #0e1111;
  color: #f3f3f3;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  background: #ffef00;
  border-radius: 50px;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#muibtn {
  text-transform: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.button-mui {
  border: none;
  background-color: #6967ce;
  color: #f3f3f3;
  height: 3rem;
  width: fit-content;
  border-radius: 10px;
  transition: ease-out 1.2s;
  font-size: 16px;
  outline: none;
  /* box-shadow: 0px 0px 10px -3px #19193d; */
}

.button-mui:hover {
  /* box-shadow: inset 250px 0 0 0 #7c7ac2; */
  cursor: pointer;
}
